*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #211C6A;
}
.app{
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    background-color: white;
    margin: 100px auto 0;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #211C6A;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    color: #222;
}
.btn{
    width: 100%;
    color: #222;
    font-weight: 500;
    background-color: white;
    text-align: left;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not(:disabled){
    background: black;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: #211C6A;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}
.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}